{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="container mt-5 text-center">
			<h1>Mon compte</h1>
			<h2 class="my-4">{{app.user.prenom}}</h2>

			<p>{{app.user.email}}</p>
			<p>{{app.user.nom}}</p>
		{% else %}
			<p>Vous n'êtes pas connecté.</p>
		{% endif %}

			<a href="{{  path('app_profil_changepassword') }}" class="btn btn-primary"> Modifier le mot de passe <i class="fa-solid fa-lock"></i> </a>
		</div>
{% endblock %}
	{#Si l'user n'est pas connecté -> app.user sera "null" , et donc app.user.prenom/email/nom n'existent pas#}
